venv
.idea
index.html
proxies.json
.terraform.lock.hcl
.terraform
.terraform.tfstate
.terraform.tfstate.backup
function/packages/table/tablesorter/tablesorter.py
.terraform*
.terraform.*
__pycache__
.pytest_cache
/binance/terraform.tfstate
/binance/terraform.tfstate.backup
